#popup {
    padding: 10px;
    width: 30%;
    background: white;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 200;
    border: 1px solid black;
}

.popupButtonColor:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
}

.popupInputShape:focus {
    outline: none;
    border-bottom: 3px solid #1abc9c;
}

.popupInputShape {
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
    clear: both;
    padding: 10px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid grey;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.popupInputShape:hover {
    border-bottom: 3px solid #1abc9c;
}


#createButton {
  background-color: #71b371; 
}

#cancelButton {
  background-color: #ca5e58;
}

.popupButtonShape {
    font-size: 15px;
    width: 30%;
    margin-top: 10px;
    padding: 15px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.popupButtonColor {
    overflow: hidden;
    color: white;
    outline: none;

    border: 0px;
    border-radius: 5px;
}

.invalidInputHighlight {
    outline: none;
    border-bottom: 3px solid #e74c3c;
}

#inputValidationsText {
    color: #e74c3c;
}
