* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

#popup {
    padding: 10px;
    width: 30%;
    background: white;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 200;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.popupLi {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.popupUl {
    padding-left: 10px;
    padding-right: 10px;
}

.popupUl > a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

