th {
	padding: 10px;
  text-align: left;
}

td {
  padding: 20px 10px;
}

table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

#createButtonTh {
  text-align: right;
}

.createButtonShape {
  font-size: 15px;
  padding: 5px;

  color: white;
  outline: none;

  border: 0px;
  border-radius: 5px;
  background-color: #71b371; 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.iconsShape {
  margin-left: 5px;
  margin-right: 10px;
}

table {
	width: 100%;
}

.iconsTd {
	text-align: right;
}

