* {
    font-family: 'Roboto Slab', serif;
}

.formColors {
    color: white;
    background: #2c0444;
}

.headerFont {
    font-size: 30px;
}

.formShape {
    padding: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 3%;
}

#container {
  width: 30%;
  clear: both;
  margin-left: 35%;
}

.pageBackgroundColor {
    background: white;
}

.uploadButtonShape {
    width: 100%;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.uploadButtonShape:hover, .headerButton:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.buttonColor {
    color: white;
    background: #f0b13d;
    outline: none;

    border: 0px;
    border-radius: 5px;
}

.inputShape {
    width: 100%;
    clear: both;
    padding: 10px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    margin-top: 5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
