#popup {
    padding: 10px;
    width: 30%;
    background: white;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 200;
    border: 1px solid black;
}

.popupButtonColor:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
}

#yesButton {
  background-color: #71b371; 
}

#noButton {
  background-color: #ca5e58;
}

.popupButtonShape {
    font-size: 15px;
    width: 70px;
    margin-top: 10px;
    padding: 15px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.popupButtonColor {
    overflow: hidden;
    color: white;
    outline: none;

    border: 0px;
    border-radius: 5px;
}
