* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

main {
  height: 200px;
  margin-left: 30%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  gap: 20px;
}

#welcomeMessage {
  font-size: 100px;
}

#logo {
    width: 200px;
    height: 200px;
}
