* {
	font-family: 'Roboto Slab', serif;
}

.invalidInputHighlight {
    outline: none;
    border: 0px;
    border-bottom: 3px solid #e74c3c;
}

#scenePickerLabel {
	flex: 0;
	flex-shrink: 0;
    font-size: 20px;
    margin-top: 30px;
}

#viewer {
    margin: 10px;
    width: 65vw; 
    height: 85vh; 
    background: grey;
    color: white;
    flex-shrink: 0;
}

#sceneMenus {
    gap: 10px;
    display: flex; 
    flex: 1 1 0;
    justify-items: center;
    flex-direction: column;
}

.scenePickerShape {
	flex: 1 0 35%;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    overflow: auto;
}

.scenePickerColor {
    border-top: 5px solid #2c0444;
}

ul {
    justify-content: flex-end;
    flex: 1 0 55%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    align-content: center;
}

.inputColor {
    border: 0px;
    border-bottom: 1px solid grey;
}

.inputShape {
    width: 100%;
    clear: both;
    padding: 10px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;

    flex-shrink: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.inputShape:hover {
    border-bottom: 3px solid #1abc9c;
}

.inputShape:focus {
    outline: none;
    border-bottom: 3px solid #1abc9c;
}

.width30 {
    width: 30%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.buttonShape {
    height: 40px;
    font-size: 25px;
    margin-top: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.buttonColor {
    overflow: hidden;
    color: white;
    background-color: #2c0444;
    outline: none;

    border: 0px;
    border-radius: 5px;
}

.buttonColor:hover {
    background: #630999;
}

#updateMarkerHTMLInput {
    height: 200px;
    padding: 10px;
    resize: none;
    flex-grow: 1;
}

.markerLi {
    display:flex;
    justify-content: center;
}

.htmlTemplateShape {
    padding: 10px;
    border: 5px solid;
    margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
