* {
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style-type:none;
    padding: 0px;
}

#registerHeader {
    display: none;
}

.formColors {
    background: white;
}

.headerFont {
    font-size: 30px;
}

.formShape {
    padding: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 3%;
}

.pageBackgroundColor {
    background: #2c0444;
}

#container {
  width: 30%;
  clear: both;
  margin-left: 35%;
}

.inputShape {
    width: 100%;
    clear: both;
    padding: 10px;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.inputShape:hover {
    border-bottom: 3px solid #1abc9c;
}

.invalidInputHighlight {
    outline: none;
    border-bottom: 3px solid #e74c3c;
}

.inputShape:focus {
    outline: none;
    border-bottom: 3px solid #1abc9c;
}

.registerButtonShape {
    width: 100%;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.registerButtonShape:hover, .headerButton:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.headerButton {
    margin-top: 10px;
    height: 50px;
    width: 49%
}

.headerButtonClicked, .buttonColor {
    color: white;
    background: #630999;
    outline: none;

    border: 0px;
    border-radius: 5px;
}

.headerButtonColor {
    background: white;
    border: 0.1px solid black;
    border-radius: 5px;
}

.registerLi {
    display: none;
}

.inputValidationsText {
    display: none;
    color: #e74c3c;
}
