* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

:root {
  --flex-elements-height: 70px;
}

#navUl {
    height: var(--flex-elements-height);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    font-weight: 1000;

    background-color: #2c0444;
}

.navLi {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;

    color: white;
}

.navLi:hover {
    background-color: #630999;
}

.navLi > a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

#navLogo {
    width: 100px;
    height: var(--flex-elements-height);
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.hidden {
    display: none;
}
